@font-face{
    font-family: Nunito;
    src: url(Nunito/Nunito-Regular.ttf);
}
@font-face{
    font-family: Nunito-Bold;
    src: url(Nunito/Nunito-Bold.ttf);
}
@font-face{
    font-family: Nunito-Light;
    src: url(Nunito/Nunito-Light.ttf);
}

@media(min-width: 1060px){
    * {
        padding: 0;
        margin: 0;
        font-family: Nunito;
        outline: none;
        transition: 0.25s;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
        color: #000
    }
    a:hover{
        text-decoration: underline;
    }
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        background: #ffffff;
    }
    .menu{
        color: #fff;
        border-radius: 20px;
        padding: 5px;
        z-index: 998;
        position: fixed;
        top: -143px;
        left: calc(50vw - 514px);
        background-color: #000000;
    }
    .toggleBtn{
        top: 70px
    }
    .bi1t{
        transform: translateY(6.9px) rotateZ(45deg);
    }
    .bi2t{
        opacity: 0;
    }
    .bi3t{
        transform: translateY(-6.9px) rotateZ(-45deg);
    }
    .menuItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .menuItem > img{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .burgerButton{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bwon:hover .buttonItem:nth-child(2){
        width: 15px;
    }
    .bwon:hover .buttonItem:nth-child(3){
        width: 22.5px;
    }
    .headerItem{
        height: 60px;
        width: 1024px;
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
    }
    .mainLogo{
        /* L : h = 2.1584 */
        height: 60px;
        width: 130px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    .burgerWrapper{
        position: fixed;
        top: 0;
        left: calc(50vw - 514px);
        height: 60px;
        width: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .buttonItem{
        width: 30px;
        height: 2px;
        background-color: #000;
        border-radius: 10px;
    }
    .orderButtonWrapper{
        font-size: 18px;
        position: fixed;
        top: 0;
        right: calc(50vw - 514px);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .orderButton{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 8px;
        color: #fff;
        width: 140px;
        height: 36px;
        cursor: pointer;
    }
    .order2{
        margin-left: auto;
    }
    .orderButton:hover{
        transform: translateY(-5px);
    }
    .all{
        display: flex;
        justify-content: center;
    }
    .n1Sect{
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 1024px;
    }
    .n1Text{
        width: 512px;
    }
    .n2Text{
        width: 512px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .mlauto{
        margin-left: auto;
    }
    .rightText{
        text-align: end;
    }
    .n1Photo{
        width: 512px;
        display: flex;
        justify-content: center;
    }
    .sectHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
    }
    .sectContent{
        width: 400px;
    }
    .n2Photo{
        width: 512px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .n2PhotoWrapper{
        display: flex;
        justify-content: center;
    }
    .photoComment{
        display: flex;
        justify-content: center;
        font-family: Nunito-Light;
    }
    .n3Photo{
        width: 512px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .n3Photo > img{
        position: absolute;
        right: -100px;
    }
    .n2Sect{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 1024px;
    }
    .ratesHeader{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ratesHeadHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rates{
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .rate{
        width: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        border: 2px solid #fff;
        margin-right: 10px;
    }
    .rate:nth-child(4){
        margin-right: 0;
    }
    .rate:hover{
        border: 2px solid #000;
        transform: translateY(-10px);
    }
    .rate:hover .rateButtonContent{
        background-color: #000;
        color: #fff;
    }
    .rateHeader{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: Nunito-Bold;
    }
    .rateContent{
        text-align: center;
        padding: 10px;
    }
    .rateIcon{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
    .rateIcon > svg{
        height: 60px;
        width: 60px;
    }
    .rateIcon > img{
        height: 60px;
        width: 60px;
    }
    .ratePrice{
        font-size: 24px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rateButton{
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .rateButtonContent{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        color: #000;
        width: 216px;
        height: 36px;
        cursor: pointer;
    }
    .requestWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .requestIcon{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 1000px;
        cursor: pointer;
    }
    .requestIcon:hover{
        transform: translateY(-5px);
    }
    .requestIcon > img{
        width: 30px;
        height: 30px;
    }
    .requestContent{
        margin-left: 20px;
    }
    footer{
        position: absolute;
        margin-top: calc(100vh - 32px);
        margin-right: calc(50vw - 512px);
    }
    ::-webkit-scrollbar { width: 4px;}
    ::-webkit-scrollbar-button {display: none;}
    ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #000; border-radius: 10px;}
}















@media(max-width: 1059px) and (min-width: 942px){
    * {
        padding: 0;
        margin: 0;
        font-family: Nunito;
        outline: none;
        transition: 0.25s;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
        color: #000
    }
    a:hover{
        text-decoration: underline;
    }
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        background: #ffffff;
    }
    .menu{
        color: #fff;
        border-radius: 20px;
        padding: 5px;
        z-index: 998;
        position: fixed;
        top: -143px;
        left: calc(50vw - 452px);
        background-color: #000000;
    }
    .toggleBtn{
        top: 70px
    }
    .bi1t{
        transform: translateY(6.9px) rotateZ(45deg);
    }
    .bi2t{
        opacity: 0;
    }
    .bi3t{
        transform: translateY(-6.9px) rotateZ(-45deg);
    }
    .menuItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .menuItem > img{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .burgerButton{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bwon:hover .buttonItem:nth-child(2){
        width: 15px;
    }
    .bwon:hover .buttonItem:nth-child(3){
        width: 22.5px;
    }
    .headerItem{
        height: 60px;
        width: 900px;
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
    }
    .mainLogo{
        /* L : h = 2.1584 */
        height: 60px;
        width: 130px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    .burgerWrapper{
        position: fixed;
        top: 0;
        left: calc(50vw - 452px);
        height: 60px;
        width: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .buttonItem{
        width: 30px;
        height: 2px;
        background-color: #000;
        border-radius: 10px;
    }
    .order2{
        margin-left: auto;
    }
    .orderButtonWrapper{
        font-size: 18px;
        position: fixed;
        top: 0;
        right: calc(50vw - 452px);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .orderButton{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 8px;
        color: #fff;
        width: 140px;
        height: 36px;
        cursor: pointer;
    }
    .orderButton:hover{
        transform: translateY(-5px);
    }
    .all{
        display: flex;
        justify-content: center;
    }
    .n1Sect{
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 900px;
    }
    .n1Text{
        width: 450px;
    }
    .n2Text{
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .mlauto{
        margin-left: auto;
    }
    .rightText{
        text-align: end;
    }
    .n1Photo{
        width: 450px;
        display: flex;
        justify-content: center;
    }
    .sectHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
    }
    .sectContent{
        width: 400px;
    }
    .n2Photo{
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .n2PhotoWrapper{
        display: flex;
        justify-content: center;
    }
    .photoComment{
        display: flex;
        justify-content: center;
        font-family: Nunito-Light;
    }
    .n3Photo{
        width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .n3Photo > img{
        position: absolute;
        right: -175px;
    }
    .n2Sect{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 900px;
    }
    .ratesHeader{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ratesHeadHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rates{
        overflow: hidden;
        display: grid;
        grid-template-columns: 244px 244px;
        grid-template-rows: 296px 296px;
        grid-gap: 10px;
        justify-content: center;
        padding-top: 15px;
    }
    .rate{
        width: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        border: 2px solid #fff;
    }
    .rate:hover{
        border: 2px solid #000;
        transform: translateY(-10px);
    }
    .rate:hover .rateButtonContent{
        background-color: #000;
        color: #fff;
    }
    .rateHeader{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: Nunito-Bold;
    }
    .rateContent{
        text-align: center;
        padding: 10px;
    }
    .rateIcon{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
    .rateIcon > svg{
        height: 60px;
        width: 60px;
    }
    .rateIcon > img{
        height: 60px;
        width: 60px;
    }
    .ratePrice{
        font-size: 24px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rateButton{
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .rateButtonContent{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        color: #000;
        width: 216px;
        height: 36px;
        cursor: pointer;
    }
    .requestWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .requestIcon{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 1000px;
        cursor: pointer;
    }
    .requestIcon:hover{
        transform: translateY(-5px);
    }
    .requestIcon > img{
        width: 30px;
        height: 30px;
    }
    .requestContent{
        margin-left: 20px;
    }
    footer{
        position: absolute;
        margin-top: calc(100vh - 32px);
        margin-right: calc(50vw - 452px);
    }
    ::-webkit-scrollbar { width: 4px;}
    ::-webkit-scrollbar-button {display: none;}
    ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #000; border-radius: 10px;}
}









@media(max-width: 943px) and (min-width: 520px){
    * {
        padding: 0;
        margin: 0;
        font-family: Nunito;
        outline: none;
        transition: 0.25s;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
        color: #000
    }
    a:hover{
        text-decoration: underline;
    }
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        background: #ffffff;
    }
    .menu{
        color: #fff;
        border-radius: 20px;
        padding: 5px;
        z-index: 998;
        position: fixed;
        top: -143px;
        left: 22px;
        background-color: #000000;
    }
    .toggleBtn{
        top: 70px
    }
    .bi1t{
        transform: translateY(6.9px) rotateZ(45deg);
    }
    .bi2t{
        opacity: 0;
    }
    .bi3t{
        transform: translateY(-6.9px) rotateZ(-45deg);
    }
    .menuItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .menuItem > img{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .burgerButton{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .headerItem{
        height: 60px;
        width: 100vw;
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
    }
    .mainLogo{
        /* L : h = 2.1584 */
        height: 60px;
        width: 130px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    .burgerWrapper{
        position: fixed;
        top: 0;
        left: 22px;
        height: 60px;
        width: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .buttonItem{
        width: 30px;
        height: 2px;
        background-color: #000;
        border-radius: 10px;
    }
    .orderButtonWrapper{
        font-size: 18px;
        position: fixed;
        top: 0;
        right: 22px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .orderButton{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 8px;
        color: #fff;
        width: 140px;
        height: 36px;
        cursor: pointer;
    }
    .order1, .order2{
        margin-left: calc(50vw - 92px);
    }
    .all{
        display: flex;
        justify-content: center;
    }
    .all1{
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .all2{
        margin-bottom: 60px;
    }
    .all3{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .n1Sect{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: calc(100vw - 44px);
    }
    .n1Text{
        text-align: center;
        justify-content: center;
    }
    .n2Text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .n1Photo{
        max-width: calc(100vw - 44px);
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .n1Photo > img{
        width: 100%;
    }
    .sectHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        text-align: center;
    }
    .sectContent{
        text-align: center;
    }
    .n2Photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
    .n2PhotoWrapper{
        display: flex;
        justify-content: center;
    }
    .photoComment{
        display: flex;
        justify-content: center;
        font-family: Nunito-Light;
    }
    .n3Photo{
        height: 499px;
        width: 728px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .n2Sect{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100vw - 44px);
    }
    .n3Sect{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .n3Text{
        width: calc(100vw - 44px);
    }
    .ratesHeader{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ratesContent{
        text-align: center;        
    }
    .ratesHeadHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rates{
        overflow: hidden;
        display: grid;
        grid-template-columns: 244px 244px;
        grid-template-rows: 296px 296px;
        grid-gap: 10px;
        justify-content: center;
        padding-top: 15px;
    }
    .rate{
        width: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        border: 2px solid #fff;
    }
    .rateHeader{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: Nunito-Bold;
    }
    .rateContent{
        text-align: center;
        padding: 10px;
    }
    .rateIcon{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
    .rateIcon > svg{
        height: 60px;
        width: 60px;
    }
    .rateIcon > img{
        height: 60px;
        width: 60px;
    }
    .ratePrice{
        font-size: 24px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rateButton{
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .rateButtonContent{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        color: #000;
        width: 216px;
        height: 36px;
        cursor: pointer;
    }
    .requestWrapper{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .requestIcon{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 1000px;
        cursor: pointer;
    }
    .requestIcon > img{
        width: 30px;
        height: 30px;
    }
    .requestContent{
        margin-left: 20px;
    }
    footer{
        margin-top: 60px;
        margin-bottom: 10px;
    }
    ::-webkit-scrollbar { width: 4px;}
    ::-webkit-scrollbar-button {display: none;}
    ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #000; border-radius: 10px;}
}





@media(max-width: 519px){
    * {
        padding: 0;
        margin: 0;
        font-family: Nunito;
        outline: none;
        transition: 0.25s;
        overflow-x: hidden;
    }
    a{
        text-decoration: none;
        color: #000
    }
    a:hover{
        text-decoration: underline;
    }
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        background: #ffffff;
    }
    .menu{
        color: #fff;
        border-radius: 20px;
        padding: 5px;
        z-index: 998;
        position: fixed;
        top: -143px;
        left: 22px;
        background-color: #000000;
    }
    .toggleBtn{
        top: 70px
    }
    .bi1t{
        transform: translateY(6.9px) rotateZ(45deg);
    }
    .bi2t{
        opacity: 0;
    }
    .bi3t{
        transform: translateY(-6.9px) rotateZ(-45deg);
    }
    .menuItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .menuItem > img{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .burgerButton{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .headerItem{
        height: 60px;
        width: 100vw;
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
    }
    .mainLogo{
        /* L : h = 2.1584 */
        height: 60px;
        width: 130px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    .burgerWrapper{
        position: fixed;
        top: 0;
        left: 22px;
        height: 60px;
        width: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .buttonItem{
        width: 30px;
        height: 2px;
        background-color: #000;
        border-radius: 10px;
    }
    .orderButtonWrapper{
        display: none;
    }
    .orderButton{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 8px;
        color: #fff;
        width: 140px;
        height: 36px;
        cursor: pointer;
    }
    .order1, .order2{
        margin-left: calc(50vw - 92px);
    }
    .all{
        display: flex;
        justify-content: center;
    }
    .all1{
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .all2{
        margin-bottom: 60px;
    }
    .all3{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .n1Sect{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: calc(100vw - 44px);
    }
    .n1Text{
        text-align: center;
        justify-content: center;
    }
    .n2Text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .n1Photo{
        max-width: calc(100vw - 44px);
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .n1Photo > img{
        width: 100%;
    }
    .sectHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        text-align: center;
    }
    .sectContent{
        text-align: center;
    }
    .n2Photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
    .n2PhotoWrapper{
        display: flex;
        justify-content: center;
    }
    .photoComment{
        display: flex;
        justify-content: center;
        font-family: Nunito-Light;
    }
    .n3Photo{
        height: 499px;
        width: 728px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .n2Sect{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100vw - 44px);
    }
    .n3Sect{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .n3Text{
        width: calc(100vw - 44px);
    }
    .ratesHeader{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ratesContent{
        text-align: center;        
    }
    .ratesHeadHeader{
        font-size: 30px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rates{
        overflow: hidden;
        display: grid;
        grid-template-rows: 296px 296px 296px 296px;
        grid-gap: 10px;
        justify-content: center;
        padding-top: 15px;
    }
    .rate{
        width: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        border: 2px solid #fff;
    }
    .rateHeader{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: Nunito-Bold;
    }
    .rateContent{
        text-align: center;
        padding: 10px;
    }
    .rateIcon{
        margin: 5px;
        display: flex;
        justify-content: center;
    }
    .rateIcon > svg{
        height: 60px;
        width: 60px;
    }
    .rateIcon > img{
        height: 60px;
        width: 60px;
    }
    .ratePrice{
        font-size: 24px;
        font-family: Nunito-Bold;
        display: flex;
        justify-content: center;
    }
    .rateButton{
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .rateButtonContent{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        color: #000;
        width: 216px;
        height: 36px;
        cursor: pointer;
    }
    .requestWrapper{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request{
        /* width: calc(100vw - 44px); */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .requestIcon{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 1000px;
        cursor: pointer;
    }
    .requestIcon > img{
        width: 30px;
        height: 30px;
    }
    .requestContent{
        margin-left: 20px;
    }
    footer{
        margin-top: 60px;
        margin-bottom: 10px;
    }
    ::-webkit-scrollbar { width: 4px;}
    ::-webkit-scrollbar-button {display: none;}
    ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #000; border-radius: 10px;}
}